* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(#D8C7FF, #19006C);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional: Add media queries if necessary */
@media (max-width: 768px) {
  body {
    padding: 20px;
  }
}

@media (min-width: 1440px) {
  body {
    font-size: 18px;
  }
}
